* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .navbar-brand {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 35px !important;
    color: blue !important;
  }
  
  .nav-link {
    font-size: 16px;
    margin: 15px;
    color: black;
  }
  
  .active.nav-link {
    color: rgb(5, 73, 73) !important;
  }
  
  .nav-link:hover {
    color: #d6a332 !important;
  }
  
  .menu-right-btn {
    padding: 13px 40px;
    margin-right: 4%;
    background-color: transparent;
    transition: all 300ms ease-in;
  }
  
  .menu-right-btn:hover {
    color: white;
    background-color: green;
  }
  
  .site-content {
    background-image: url(./images/la\ re.jpg);
    background-attachment: fixed;
    background-size:50%;
  
  }
  
  .site-title,
  .site-desc {
    color: rgba(255, 255, 255, 0.651);
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .site-title {
    margin-top: 30%;
    margin-bottom: 6%;
    font-style: 50px;
  }
  
  .d-flex {
    margin-bottom: 50px;
  }
  
  .here-there {
    background-image: url(./images/la\ rella.jpg);
    background-attachment: fixed;
    background-size: 75%;
  }
  
  .site-desc {
    font-size: 28px;
    /* padding-left: 25%; */
  }
  
  .site-btn1 {
    margin-left: 20%;
  }
  
  .site-btn1,
  .site-btn2 {
    margin: 5% 0 40% 0;
  }
  
  .section-1.heading-1 {
    margin-top: 8%;
  }
  
  .section-1.heading-2 {
    margin-bottom: 45%;
  }
  
  .section-1.para-1 {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 15%;
  }
  
  .section-1.card-text,
  .para-1 {
    color: rgb(79, 90, 92);
  }
  .para-1{text-align: justify;}
  .section-1 {
    margin-bottom: 8%;
  }
  .card {
    width: 20rem;
  }
  
  /* .card img {
    width: 318px;
    height: 318px;
  } */
  
  .section-2 .heading-1 {
    margin-top: 20%;
    margin-bottom: 4%;
    font-family: monospace;
    width: 80%;
    color: white;
  }
  
  .section-2 .para {
    width: 80%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: white;
    margin-bottom: 7%;
  }
  
  .section-2 .btn {
    margin-bottom: 15%;
    width: 30%;
    padding: 2% 5%;
  }
  
  .section-3 p {
    color: rgb(46, 51, 53);
  }
  
  .section-4 {
    margin-top: 8%;
  }
  
  .section-4 .row .col-md-7,
  .col-md-5 {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .section-4 a {
    color: rgb(15, 223, 102);
    font-size: 20px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .section-4 .para-1 {
    color: white;
    font-family: "Times New Roman", Times, serif;
    margin-top: 7%;
    font-size: 20px;
  }
  
  @media screen and (max-width: 700px) {
    body {
      /* display: none; */
    }
  
    main {
      width: 100%;
    }
  
    .site-btn1,
    .site-btn2 {
      margin: 5% 0 05% 0;
    }
  
    .sec-4-img {
      width: 100% !important;
    }
  }
  