/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) { */

/* header section */
body{
  font-family: "Lato", sans-serif;
  background-color: #6caaff;
  margin: auto;
  /* heeader color */
  color: rgba(52, 55, 55, 0.762);
  /* color:rgba(0, 255, 251, 0.762); */
}


.clear{
clear:both;
}  
/* 2 for all header section position */

/*width header column */
.header{ 
/* margin-left: 0.01rem; */
    text-align:center;           
    position: fixed;
    top: 0;
    /* i gotu now. this ie where to adjust the header margin to lieft or right */ 
    /* see @12's margin */
    left: 0rem;
    z-index: 1;
    /* width: 100%;
    width: 44.5rem;    */
    /* width: 31.5rem; */
    /* width: 42.375rem;      */
    width: 34.135rem;
    /* width: 35.135rem; */
    /* Adjust the width to take the remaining space */
    background-color: #0d0d0b5e;
    border: 1px solid red;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    box-shadow: 2px 2px 2px red;
/* new adds        */
font-size: 16px; /* Increased text to enable scrolling */
padding:0%;  
    /* left: 15%; Adjust left position based on the width of the menu container */
    /* background-color: #2196F3; this color blocks the transparency in the header section*/
    
    margin: 0 auto 0 auto;
    /* overflow-x: hidden; */
     
}

.col{
/* 1welcome text */
display: noe; 
font-size:1rem;
text-align: center; 
background-color:  #f4e2f6; 
color:#5021ff;
color:rgba(0, 0, 128, 0.41); 
margin:0 auto ;
font-family:system-ui, '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', 'sans-serif';
}


/* close and a-link tag button font style */
a{
color: rgba(255, 255, 0, 0.958);
text-decoration: none;
/* font-family:cursive; */
background-color: none;
}

/* 3 table data width */
.table-data-width .butto  .fa-1x {
font-size: 16px;
color: black;
width: 36px;
height: 19px;
padding-bottom: 21px;
}

/* hr[id]{height: 5px;background-color: #fff;}  */
hr[id] {
height: 5px;
background-color: #fff;
width: 33.4rem;
width: 32rem;
/* width: fit-content; */
margin: 0rem;
}

/* 4 table- colum section*/
.table-column{
  width: fit-content;
  border-width: 10.5rem;
  border-color: #c6c0c0d7;
  border-radius: 10px;
  background-color:rgba(255, 0, 0, 0.487);
  box-shadow: 2px 4px 2px 3px rgba(110, 239, 4, 0.661);

  /* border-color: #111111d7; */      
  /* background-color: rgba(6, 77, 85, 0.954); */
  box-shadow: 2px 4px 2px 3px rgb(110, 239, 4);
}
/* this very padding to come and check */
.table-column{
  
  /* checking 4 fitness */
  /* padding-left: 0.21rem; */
  border-color: #111111d7;
}
/* 5 background to the column header titles */
.table-column[bgc]{background-color: rgba(6, 77, 85, 0.954);
}

/*6 HEADER POSITION IN HEADER */
.HPOSITION{
margin-left:0.3rem;
/* as in table data header */
/* margin-left:0.5rem; */
/* margin-left:14.9rem; */
margin-top:0rem;
height: 2rem;
/* 5 selected insted of 2 for the image eng and ewe col*/
height: 5rem;
color: rgba(0, 255, 251, 0.762);

}

/*7 replace for combination */

.HPOSITION .table-header{
     /* to bring back  */
  /* height: 2rem; */
      /* now added today for the headder alignment   */
 /* this width 200 maked the header table expands or srink into fit mobile view */
      /* width: 200px;  ewe image engl */
      margin-left: 0.5rem;
}

/*8 where the header width control is covering title names*/
.table-header{
margin-top: 0rem;
/* height: 2rem; */
/* width:21.8rem; */
            /* this width to consider */
/* width:10.8rem; */
/* width:16rem; */


text-align: center;
position: relative;
/* left: 2.2rem; */
border-bottom-right-radius:10px;
border-bottom-left-radius:10px;
border-top-right-radius:30px;
border-top-left-radius:10px;
box-shadow: 2px 4px 2px rgb(86, 4, 239);
}

/* 9 for the header words ew im en*/
.reduction{
font-size:2rem;
/* clear */
font-weight: bolder;
font-size:1rem;
color: rgba(179, 246, 245, 0.986);
/* color: red; */
padding-bottom: 2.5rem;
}

/* 10 burger bar  */
/* .p{ margin:0rem 3rem 0rem 10rem;
padding-left: 1rem;     
} */
.p {
  
/* margin: 0rem 3rem 0rem -3rem; to bring back*/
padding-left: 10rem;
/* float: right; */
}
.pn{
margin: 3rem;

}

/* 11 que-Answer */
.que-Answer{
  width: 100%; 
  display: non; 
/* this margin left to sent to header one or delete */
  margin-left: 0.5rem;
}

/* 11 grid col */
.container {
  display: flex;
}

/* background-color: #fff;
color: black; 
width: 100%; 
padding-right: ;" */
/* end of header */

/* 12 mainMenu margin to adjust to maybe 0.5/3rem*/   
 /* 12 both table and que/answer deg imd table  */
.margin-both-deg-Table{
  width:fit-content; 
  padding:8% 0% 0%; 
  /* margin:50px 5px 2px 11px;  */
  margin:50px 5px 2px 0px; 

  text-align:justify;


}


/* 13 que/answer/degre image */
/* audio coloring */
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
background-color: #0d0d0b5e;
color: #0d0d0b5e;
padding: 0px;
}
audio{opacity: 0.5;}
/* audio[controls]{background-color: #fff; color:#fff;} */
.myAudio{
       width: 133px;
       height: 15px;
      } 

/*14 to c backgrownd roll */

div[toC] {
  background-image: url(./image/1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* margin-top: 5rem; */
  height: auto;
  width: 100%;
  background-position-x: center;
  /* background-size: 18rem; */
  text-align: center;
  position: relative;
  left: 2.2rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 30px;
  border-top-left-radius: 10px;
  box-shadow: 2px 4px 2px rgb(86, 4, 239);
}
/* end of bgRND roll */

/* 14 */
.degimage {
  /* width: 280px; */
  width: 230px;
  height: auto;
  margin-top: 5rem;
  /* margin-right: 7rem; */
  padding-right: 1.5rem;
}


  /*15 class table */
  img[bongoimage]{
    width:100%;
    height: auto;
    margin-bottom: 1rem;
    }
          /* <source src="/audio/WHEN I AM DOWN.m4a" type="audio/mpeg">
          Your browser does not support the audio element.
          <i class="fa fa-Parlerer" aria-hidden="true"></i>
        </audio> */
/* 16 size of fa icon */
.fa-volume-up{
  font-size: 25px; color:black;
  width: 36px;
  height: 36px;
  padding-bottom: 21px;}

/* 17speak button */
.button {
  width: 20px;
  height: 20px;
  background-color: rgba(180, 244, 31, 0.224);
  border: 2px;
}
.butto{
  /* width: 20px; */
  /* height: 20px; */
  /* background-color: rgba(6, 77, 85, 0.954); */
  /* background-color: rebeccapurple; */
  /* color: red; */
  /* background-color: rgba(180, 244, 31, 0.224); */
  background-color: rgba(6, 77, 85, 0.39);


  border-style: none;
  margin-right: 0.5rem;
}
/* 18 */
.butto h2{
  background-color: rgba(180, 244, 31, 0.224); 
  width: 20px; 
  height: 20px; 
  text-align: center; 
  margin: auto;
}
.fa-university{
  font-size: 16px; 
  color:rgb(237, 232, 223);
  margin-left: 1rem;
  position: relative;
  bottom: 1.32rem;
}

/* 19 */
.fa-home{
  font-size: 16px; 
  color:rgb(236, 162, 12);
  margin-left: 1rem;
  position: relative;
  bottom: 1.32rem;
}

fhfhh

  button h1{
    color: rgba(0, 255, 251, 0.762);

  }
    body {
        font-family: "Lato", sans-serif;
        background-color: #6caaff;
        margin: auto;
        color: rgba(0, 255, 251, 0.762);
      }
/* clear  */
    .clear{
        clear:both;
      }  

      /* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */
/* audio coloring */
 audio::-webkit-media-controls-play-button,
 audio::-webkit-media-controls-panel {
 background-color: #0d0d0b5e;
 color: #0d0d0b5e;
 
 }
 audio{opacity: 0.5;}
/* audio[controls]{background-color: #fff; color:#fff;} */
   

a{
      color: rgba(255, 255, 0, 0.958);
      text-decoration: none;
      font-family:cursive;
      background-color: none;
    }
/*width header column */
      .header{
          /* margin-left: 0.01rem; */
              text-align:center;           
              position: fixed;
              top: 0;
              /* i gotu now. this ie where to adjust the header margin to lieft or right */ 
              /* see @12's margin */
              left: 0rem;
              z-index: 1;
              /* width: 100%;
              width: 44.5rem;    */
              /* width: 31.5rem; */
              /* width: 42.375rem;      */
              /* width: 34.135rem; rejected*/
              width:35.5rem;
              





        /* Adjust the width to take the remaining space */
        background-color: #0d0d0b5e;
        border: 1px solid red;
        border-bottom-right-radius:10px;
        border-bottom-left-radius:10px;
        box-shadow: 2px 2px 2px red;
 /* new adds        */
    font-size: 16px; /* Increased text to enable scrolling */
    padding:0%;  
        text-align: center;
        /* left: 15%; Adjust left position based on the width of the menu container */
        /* background-color: #2196F3; this color blocks the transparency in the header section*/
        margin: 0 auto 0 auto;
        /* overflow-x: hidden; */
         
    }

/* pronunciation chart    */
        .pronunciation-chart,btn-danger{
            position: absolute;
            right: 1rem;
            top:0.62rem;
            font-size:13px;
            background-color: #080128ed;
                        
        }
/* search section */
/* Some basic styling for the navbar */
        .navbar {
            background-color: #333;
            color: #fff;
            padding-left:16rem;
            width: 31rem;
            height: 2.5rem;
            position:absolute;
            top: 1rem;
            margin-top: -1rem;
        }

        .navbar a {
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
        }

        /* Styling for the search icon */
        .search-icon {
            position: relative;
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 5px;
            background: url(search-icon.png) no-repeat center center;
            background-size: contain;
            cursor: pointer;
        }

/* end of search section */

    #home-bn{ text-align-last:right;}
    #bn{height:22.5px;
        /* padding-left: rem; */
        border-bottom-right-radius:10px;
        border-bottom-left-radius:10px;
        border-top-right-radius:30px;
        border-top-left-radius:10px;
        box-shadow: 2px 2px 2px rgb(239, 4, 4);
        transition-duration: 50s ease;
   }
    #bn:hover{background-color: #555;
      
  /* color: #ff0; */
   }
   
/* HEADER POSITION IN HEADER */
    .HPOSITION{
      margin-left:0.3rem; 
      /* as in table data header */
      /* margin-left:14.9rem; */
      margin-top:0rem;
      /* height: 2rem; */
    
    }
    /* replace for combination */
    
      .HPOSITION .table-header{
            height: 2rem;    
      }
    .reduction{
      font-size:2rem;
/* clear */
      font-size:1rem;

    }
/* text Area  alighn  */
    .txtArea-align{
      padding: 0.5rem 9.5rem 0rem 1rem;
      height: 31px;
      font-size: 10.5px;
    }
/* menu bar icon */

/* button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 10px;
    line-height: inherit;
} */
/* burger bar  */
   /* .p{ margin:0rem 3rem 0rem 10rem;
      padding-left: 1rem;     
    } */
    .p {
    margin: 0rem 3rem 0rem -3rem;
    padding-left: 10rem;
}
    .pn{
      margin: 3rem;

    }
/* end menu bar icon */

/* begining of sidenav    */
      .sidenav {
        height: 100%;
        /* width: 239px; */
        width:14.9rem ;

        position: fixed;
        z-index: 1;
        top: 0;
        left: 0; 
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
      }
      .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      .sidenav .closebtn {
        position: absolute;
        top: -40px;
        right: 1.5rem;
        font-size: 5rem;
        color: rgba(255, 255, 0, 0.644);
        /* margin-left: 50px; */
      }
      .main {
        margin-left: 239px; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px;
        width: 67rem;
      }
      .icon{
        padding:2rem 2rem 0rem 1rem;


      }.tableContent-ion{
        font-size:20px;
        padding:0rem 0rem 0rem 0.5rem;

      }

/* degimage section width */

/* grid col */
      .container {
        display: flex;
      }

      .column{
        flex: 1; /* Equal width for both columns */
        background-color: #f0f0f0;
        padding: 10px;
        margin-right: 10px; /* Gap between columns */
        width: 34.135rem;;
      }

      .column:last-child {
        margin-right: 0; /* Remove margin from the last column */
      }
/* description */
      .discription{
        margin-top: 5rem;
        height: 13rem;
        width: 25rem;
        background-position-x: center;
        background-size: 18rem;
        text-align: center;
        position: relative;
        left: 2.2rem;
        border-bottom-right-radius:10px;
        border-bottom-left-radius:10px;
        border-top-right-radius:30px;
        border-top-left-radius:10px;
        box-shadow: 2px 4px 2px rgb(86, 4, 239);
      }

      .col33{width:80%;}
      .desc-position{
        padding:1rem 0rem 0rem 0rem ;
      }
      #answer{
        height: 8rem;
        background-color: #111;
        color: yellow;
      }
      h4{text-align: center;
        color: chocolate;
      }
/* table- colum */
      .table-column{
        width: fit-content;
        border-width: 10.5rem;/* checking 4 fitness */
        padding-left: 0.21rem;
        border-color: hsla(0, 0%, 7%, 0.843);
        border-radius: 10px;
        background-color: rgba(6, 77, 85, 0.954);
        box-shadow: 2px 4px 2px 3px rgb(110, 239, 4);

      }

/* where the header width control is */
      .table-header{
        margin-top: 0rem;
        /* height: 2rem; */
        /* width:21.8rem; */
        /* width:10.8rem; */
        /* width:16rem; */
        nn

    /* text-align: center; */
        position: relative;
        
        /* left: 2.2rem; */
        border-bottom-right-radius:10px;
        border-bottom-left-radius:10px;
        border-top-right-radius:30px;
        border-top-left-radius:10px;
        box-shadow: 2px 4px 2px rgb(86, 4, 239);
      }

/* FONT IN TABLE HEAD */
        .FONTSIZE{
          font-size: 3rem;
  /* clear */
          font-size: 1rem;
          text-transform: uppercase;

          padding-bottom: 4rem;
          color: #f0f0f041;
          color: rgba(0, 255, 251, 0.986);
        }
        .smallLetter{font-size: small;}    


/* table data container with */
      .table-data-width{
        width:226px;
        /* clear */
                /* width:26px; */
        /* width:10rem; */
/* to check this 16rem width with the 26px */
                /* clear */
                font-size: small;
                text-align: center;
                padding-left: 0.3rem;
                margin-top:11rem;
        } 

        /* just try this */
/* degimage section width */
      /* the heading widths */
      .table-data-width,.table-header{
        /* width:16rem;        */
        width:14.28rem;
        /* width: 10rem; */
        width: 10.8rem;
               text-align:center;
               /* color: rgba(0, 255, 251, 0.762); */
              }
/* hhermon */
div[toC] {
    background-image: url(./image/1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* margin-top: 5rem; */
    height: auto;
    width: 100%;
    background-position-x: center;
    /* background-size: 18rem; */
    text-align: center;
    position: relative;
    left: 0.2rem;

    /* inserted */
    left: 2.2rem;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 30px;
    border-top-left-radius: 10px;
    box-shadow: 2px 4px 2px rgb(86, 4, 239);
}
        .degimage {
    width: 280px;
    margin-top: 5rem;
}

/* reworking degimage */
/* end of bgRND roll */
.degimage {
    /* width: 280px; */
    width: 230px;
    height: auto;
    margin-top: 5rem;
    /* margin-right: 7rem; */
    padding-right: 1.5rem;
}
div[toC] {
    background-image: url(./image/1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* margin-top: 5rem; */
    height: auto;
    width: 100%;
    background-position-x: center;
    /* background-size: 18rem; */
    text-align: center;
    position: relative;
    left: 2.2rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 30px;
    border-top-left-radius: 10px;
    box-shadow: 2px 4px 2px rgb(86, 4, 239);
}

h4{text-align: center;
        color: chocolate;
      }

      .small{
  font-size: 20px;
}
end 
        /* .degimage{width:100%; height:100%} */
/* put together forn combination      */
      .table-data-width,.table-header{
        /* width:16rem;        */
        width:14.28rem;
        /* width: 10rem; */
        width: 10.8rem;
               text-align:center;
               /* margin-right: 5px; */
              }

/* the pink sidenav column */
    .content {background: pink;
        width:49.2rem;
        position: absolute;
        left:0.15rem ;
        /* left:15rem ; */
        top: 10rem;
        /* width: 44rem; */
        width: 34.135rem;        /* width: 31.5rem; */
        /* width: 42.375rem; */
        /* left:239px; */
    }
    
/* table data image property */
      .tdata-img{
        width: 21.8rem;
  /* clear */
        width: 150px;
        margin-top:2rem;
        /* this width revert with img[bongo] */
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
      }

      

/* data audio txts settings */
      .controls {
        display: inline-flex;
        flex-direction: row;
        position: relative;
        bottom: 0.4rem;
      
        
      /* margin-top: 20px; */
      }
      
      #myAudio{
         width: 136px;
         height: 15px;
        }
 /* clear */
      .myAudio{
         width: 133px;
         height: 15px;
          }

  /* class */
      img[bongoimage]{
          width:100%;
          height: auto;
          margin-bottom: 1rem;
          }
                /* <source src="/audio/WHEN I AM DOWN.m4a" type="audio/mpeg">
                Your browser does not support the audio element.
                <i class="fa fa-Parlerer" aria-hidden="true"></i>
              </audio> */
/* size of fa icon */
      .fa-volume-up{
        font-size: 25px; color:black;
        width: 36px;
        height: 36px;
        padding-bottom: 21px;}

/* Parler button */
      .button {
        width: 20px;
        height: 20px;
        background-color: rgba(180, 244, 31, 0.224);
        border: 2px;
      }
      .butto{
        /* width: 20px; */
        /* height: 20px; */
        /* background-color: rgba(6, 77, 85, 0.954); */
        /* background-color: rebeccapurple; */
        /* color: red; */
        /* background-color: rgba(180, 244, 31, 0.224); */
        background-color: rgba(6, 77, 85, 0.39);


        border-style: none;
        margin-right: 0.5rem;
      }
      .butto h2{
        background-color: rgba(180, 244, 31, 0.224); 
        width: 20px; 
        height: 20px; 
        text-align: center; 
        margin: auto;
      }
      .fa-university{
        font-size: 16px; 
        color:rgb(237, 232, 223);
        margin-left: 1rem;
        position: relative;
        bottom: 1.32rem;
      }

      .fa-home{
        font-size: 16px; 
        color:rgb(236, 162, 12);
        margin-left: 1rem;
        position: relative;
        bottom: 1.32rem;
      }
      
/* call to action section */
      .call-to-action{
        border: #111; 
        background-color: pink;
        display: inline-block;
        margin: 1rem 1.5rem ;
        height: 5rem;
        width:fit-content;
        text-align: center;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        z-index: -1;
        box-shadow: 1px 2px 2px  rgb(33, 43, 25);


      }

      trying to c  
      /* call to action section */
.call-to-action{
        border: #111; 
        background-color: pink;
        display: inline-block;
        margin: 1rem 5rem ;
        height: 7rem;
        width:fit-content;
        width:100%;
        width:30%;
        width:460px;
padding-top: 10px;
        text-align: center;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        z-index: -1;
        box-shadow: 1px 2px 2px  rgb(33, 43, 25);


      }
/* vaxlem logo scetion */
      .vaxlem-logo{
        width: 50px;
        height:50px;
      }
  /* to check */
  .containa{
    padding: 5rem 2rem 5rem 5rem;
    text-align: center;
    color: #fff;
  }
  /* a{
    text-decoration: initial;
  } */
.p1{
  font-family: monsterrat-bold;
  font-size: 1.5rem;
  line-height: 1.7rem;
  /* font-weight: bold; */
  margin: 3rem 0rem;

}

.p1[video]{
  margin-bottom: 1rem;
}
.images{
  width: 300px;
  height:300px;
  border-radius: 100%;
}


#video-frame{
  width:100%;
  height: 228px;
  height: 185px;
  padding-left: 1rem;
  padding-left: 0.1rem;

}
.container-fluid{
  /* text-align: center; */
  /* margin-top: 1rem; */
  /* background-color: rgb(46, 3, 3); */
  /* box-shadow: 0rem 2rem 2rem 7rem royalblue; */
  


/* ahaaaaaaa  i ceee why the crazy margin on the border radious bluue is */




  width: 100%;
  
  text-align: center;
  margin-top: 1rem;
  /* margin: 1rem 5rem ; */
  text-align: center;
    margin-top: 1rem;
    margin: 1rem 5rem;
    /* margin: 1rem 1rem;
    margin: 1rem 0rem; */
    padding-bottom: 1rem;
        color: rgba(0, 255, 251, 0.762);
      color: rgba(248, 214, 23, 0.672);  
  background-color: rgb(46, 3, 3);
  background-color: pink;
  box-shadow: 0rem 2rem 2rem 1rem royalblue;
  
}


/* to trying call to action this thin */

/* end of the above */

/* end of grid section */
/* accordion  */

/* accordion */
.all{
  background-image: url(./image/BEACH.jpg);
  background-size: cover;
  height: 700px;
  padding: 0px 0px 0px 20px;
  
  
  /* position: fixed; */
  /* position: fixed; */
  /* margin-left: 600rem; */
  
}
    * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
    }
.date {
      background-color: rgb(70, 69, 69);
      color: white;
      font-size: larger;
      cursor: pointer;
      width: 100%;
      padding: 10px;
      border-radius: 7px;
      outline: none;
      font-size: 15px;
      margin: auto;
      margin-top: 20px;
      transition: 0.4s;
      display: inline-block;
      overflow: hidden;
    }

    .date:hover {
      transform: scale(1.1);
    }

    .date:after {
      content: "\1F447";
      margin-left: 80%;
    }

    .active:after {
      content: "\1F446";
    }

    .notes {
      background-color: rgb(116, 115, 115);
      color: white;
      font-size: large;
      padding: 0px 18px;
      margin-top: 10px;
      max-height: 0px;
      transition: 0.4s;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
/* i decoration  in accordion*/
    .acor-i {
      color: #111;
    }
    
.social-icon{
  margin:1.2rem;
  color:rgba(255, 217, 0, 0.801);
}
/* footer section */
#footer{
  height: fit-content;
  text-decoration: none;
  padding: 5rem 3rem;
  background-color: black;
  text-align:center;
  color: #f9f5f59c;
  font-size: 1.5rem;
  font-family: montserrat-black;
  padding: 2rem;
  /* padding-top: 3rem; */
  margin-top: 2rem;
  /* margin-left:2px; */

}




/* MEDIAQUERRY */
@media screen and (min-width: 1025px){
 body {
     font-size: 18px;
 }

 
 /* .............................. */
 
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

/* xxxxxxxxxxx--------------xxxxxxxxxxx */
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */


/* } */
