/* <!-- design for mobile first and use min for large screens --> */
    /* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 1600px) { */

  /* header section */
  body {
      font-family: "Lato", sans-serif;
      background-color: #6caaff;
      margin: auto;
      /* heeader color */
      color: rgba(52, 55, 55, 0.762);
      /* color:rgba(0, 255, 251, 0.762); */
    }
  .clear{
    clear:both;
  }  
  /* 2 for all header section position to be adjusted left or right*/
  .header{
    /* margin-left: 0.5rem; */
    margin-left: 0.01rem;
  }
  .col{
    /* 1welcome text */
    display: noe; 
    font-size:1rem;
    text-align: center; 
    background-color:  #f4e2f6; 
    color:#5021ff;
    color:rgba(0, 0, 128, 0.41); 
    margin:0 auto ;
    font-family:system-ui, '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', 'sans-serif';
  }
/* close and a-link tag button font style */
  a{
    color: rgba(255, 255, 0, 0.958);
    text-decoration: none;
    /* font-family:cursive; */
    background-color: none;
  }

  /* 3 table data width */
  .table-data-width .butto  .fa-1x {
  font-size: 16px;
  color: black;
  width: 36px;
  height: 19px;
  padding-bottom: 21px;
}

/* hr[id]{height: 5px;background-color: #fff;}  */
hr[id] {
  height: 5px;
  background-color: #fff;
  width: 33.4rem;
  width: 32rem;
  /* width: fit-content; */
  margin: 0rem;
}

/* 4 table- colum section*/
.table-column{
      width: fit-content;
      border-width: 10.5rem;
      border-color: #c6c0c0d7;
      border-radius: 10px;
      background-color:rgba(255, 0, 0, 0.487);
      box-shadow: 2px 4px 2px 3px rgba(110, 239, 4, 0.661);
    
      /* border-color: #111111d7; */      
      /* background-color: rgba(6, 77, 85, 0.954); */
      box-shadow: 2px 4px 2px 3px rgb(110, 239, 4);
    }
/* this very padding to come and check */
    .table-column{
      
      /* checking 4 fitness */
      /* padding-left: 0.21rem; */
      border-color: #111111d7;
    }
/* 5 background to the column header titles */
.table-column[bgc]{background-color: rgba(6, 77, 85, 0.954);
}
 
/*6 HEADER POSITION IN HEADER */
.HPOSITION{
    margin-left:0.3rem;
/* as in table data header */
    /* margin-left:0.5rem; */
    /* margin-left:14.9rem; */
    margin-top:0rem;
    height: 2rem;
/* 5 selected insted of 2 for the image eng and ewe col*/
    height: 5rem;
    color: rgba(0, 255, 251, 0.762);
  
  }
  /*7 replace for combination */
  
    .HPOSITION .table-header{
          /* height: 2rem; */
          /* now added today for the headder alignment   */
     /* this width 200 maked the header table expands or srink into fit mobile view */
          /* width: 200px;   */
          margin-left: 0.5rem;
    }

/*8 where the header width control is covering title names*/
.table-header{
margin-top: 0rem;
/* height: 2rem; */
/* width:21.8rem; */
                /* this width to consider */
/* width:10.8rem; */
/* width:16rem; */


text-align: center;
position: relative;
/* left: 2.2rem; */
border-bottom-right-radius:10px;
border-bottom-left-radius:10px;
border-top-right-radius:30px;
border-top-left-radius:10px;
box-shadow: 2px 4px 2px rgb(86, 4, 239);
}

/* 9 for the header */
.reduction{
    font-size:2rem;
/* clear */
    font-weight: bolder;
    font-size:1rem;
    color: rgba(179, 246, 245, 0.986);
    padding-bottom: 2.5rem;
  }

/* 9 burger bar  */
 /* .p{ margin:0rem 3rem 0rem 10rem;
    padding-left: 1rem;     
  } */
  .p {
  margin: 0rem 3rem 0rem -3rem;
  padding-left: 10rem;
}
  .pn{
    margin: 3rem;

  }

/* end of header */}
