        /* Basic styling for demonstration */
        #none{display: none;}

        .site-content {
            background-image: url(./images/la\ rella.png);
            background-attachment: fixed;
            /* background-size:100%; */
            background-size: contain;
          
          }
/* body{background-image: url(./image/pineapple_124985672.jpg);} */
        .span[french]{color: black; color: #f90; background-color:#632616; 
        font-weight: 700;font-size: 16px; font-family: fura-pt; line-height: 1rem; padding: 0.5rem;}

  
 /* allowance between image and name txt */
        .allowance{margin:0rem 2rem 0rem 4rem;
            /* padding-right: 2rem; */
                
        }

        .container {
            max-width: 800px;
            margin: 6rem auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .container h1{/* color: #fff; the title name*/
            text-align: center;
            color: #c21414;;
            font-weight: bolder;
            font-size: xx-large;
            /* margin: 1% 0% 2% 5%; */
            margin: 1% 0% 2% 0%;}
        
        /* the images  */
            .product {
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 10px;
            margin: 10px 0;
            background-color: skyblue;
            box-shadow: 1px 2px 1px rgba(17, 15, 15, 0.568);

        }
        .product img {
            max-width: 10rem;
            height: auto;
            background-color: #fff;
            float: left;border-radius: 10%;
        }

        .product p, a{color: black;}
        .product h2{text-transform: uppercase;}
        button:hover{
        background-color: #f82626;
        }
      .button{
        float: right;
        position: relative;
        bottom: 5.5rem;
        margin: auto 4rem;
      }
        .description-position{
        margin: auto 2rem;
        }  
        .description-position h3{
            color: navy;
            font-size: 30px;
        }
        .btspacee{
            padding-bottom: 2rem;}
.btspace{
    padding-bottom: 2rem;
}

/* number */
.product h1{
    font-size: 7rem;
}
.aple-alasa{
    padding-bottom: 2.5rem;
}

  /* footer section */

  #footer{
  text-decoration: none;
  padding: 5rem 3rem;
  background-color: #87ae88;
  text-align:center;
  color: #fff;
  font-size: 3.5rem;
  font-family: montserrat-black;
  padding-right: 1rem;
  padding-top: 1rem;
  margin-top: 2rem;
}

footer .social-icon{
  font-size:3rem;
  color:#fff;
  padding: 0rem 0.4rem 0rem;
}
footer h1{
  font-size:larger;
}
footer h2{
  padding-left: 2rem;

}
/* p{
  color: #f1f1f1af;
  font-size: 1.0rem;
  text-align: center;
  margin:0.2rem 0rem 0rem;
  padding-bottom: 0rem;
  font-weight: bold;
} */
  /* .containa{
    padding: 5rem 2rem 5rem 5rem;
    text-align: center;
    color: #fff;
  } */
p{
  font-family: monsterrat-bold;
  font-size: 1.2rem;
  line-height: 1.7rem;

}


        /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1000px) {
        .product img {
            max-width: 6rem;
            height: 5rem;
           
        }
        .description-position h3{
            font-size: 16px;
        }
        .button{
        float: right;
        position: relative;
        bottom: 3.9rem;
        margin: auto 1rem;
      }

      /* .btspace{
    padding-bottom: 2rem;
}

.aple-alasa{
    padding-bottom: 2.5rem;
} */

.fa-2x {
    font-size: 2em;
    padding-top: 0.25rem;
}

/* french */
.span[french]{ padding: 0.3rem;}

        }
        .containa {background: #fe796ae4;
        }